CREATE TRIGGER BIU_FORMS FOR FORMS
ACTIVE BEFORE INSERT OR UPDATE
POSITION 0
AS
BEGIN
  /* SET ID */
  IF(NEW.F_ID IS NULL) THEN
    NEW.F_ID = NEXT VALUE FOR SEQ_FORMS;
  /* SET CODE */
  IF((NEW.F_CODE IS NULL) OR (CHAR_LENGTH(NEW.F_CODE) < 1)) THEN
    NEW.F_CODE = 'F-' || CAST(NEW.F_ID AS VARCHAR(15));
END