CREATE TRIGGER BIU_VIEWS FOR VIEWS
ACTIVE BEFORE INSERT OR UPDATE
POSITION 0
AS
BEGIN
  /* SET ID */
  IF(NEW.V_ID IS NULL) THEN
    NEW.V_ID = NEXT VALUE FOR SEQ_VIEW;
  /* SET CODE */
  IF((NEW.V_CODE IS NULL) OR (CHAR_LENGTH(NEW.V_CODE) < 1)) THEN
    NEW.V_CODE = 'V-' || CAST(NEW.V_ID AS VARCHAR(15));
END