CREATE TRIGGER BIU_SP FOR SP
ACTIVE BEFORE INSERT OR UPDATE
POSITION 0
AS
BEGIN
  /* SET ID */
  IF(NEW.SP_ID IS NULL) THEN
    NEW.SP_ID = NEXT VALUE FOR SEQ_SP;
  /* SET CODE */
  IF((NEW.SP_CODE IS NULL) OR (CHAR_LENGTH(NEW.SP_CODE) < 1)) THEN
    NEW.SP_CODE = 'SP-' || CAST(NEW.SP_ID AS VARCHAR(15));
END