CREATE TRIGGER BIU_DOMAINS FOR DOMAINS
ACTIVE BEFORE INSERT OR UPDATE
POSITION 0
AS
BEGIN
  /* SET ID */
  IF(NEW.D_ID IS NULL) THEN
    NEW.D_ID = NEXT VALUE FOR SEQ_DOMAINS;
  /* SET CODE */
  IF((NEW.D_CODE IS NULL) OR (CHAR_LENGTH(NEW.D_CODE) < 1)) THEN
    NEW.D_CODE = 'D-' || CAST(NEW.D_ID AS VARCHAR(15));
END