CREATE TRIGGER BIU_TBLS FOR TBLS
ACTIVE BEFORE INSERT OR UPDATE 
POSITION 0
AS
BEGIN
  /* SET ID */
  IF(NEW.T_ID IS NULL)THEN
    NEW.T_ID = NEXT VALUE FOR SEQ_TBLS;
  /* SET CODE */
  IF((NEW.T_CODE IS NULL) OR (CHAR_LENGTH(NEW.T_CODE) < 1)) THEN
    NEW.T_CODE = 'T-' || CAST(NEW.T_ID AS VARCHAR(15));
END